
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.sk{
    height: 75vh;
    width: 95vw;
    font-family: 'DM sans', sans-serif ;
    background: linear-gradient( to top right , #28b32d,#4895EF);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 1px 1px 20px #989f9f;
    padding-top: 130px;
   
}
.page{
    background-color: #ffffff;
    height: 430px;
    width: 540px;
    margin-left: 420px;
    margin-top: -20px;
    padding: 20px;   
}
.input-row input {
    background-color: rgb(237, 236, 236);
    border: none;
    height: 25px;
    width: 190px;
    padding: 5px;    
}
.web input {
    background-color: rgb(237, 236, 236);
    border: none;
    height: 25px;
    width: 400px;
    padding: 5px;
}

textarea{
    background-color: rgb(237, 236, 236);
    border: none;
    height: 80px;
    width: 400px;
    padding: 5px;
}
.form button{
    background: linear-gradient(to left , #2ffa65,#5171f0);
    color: aliceblue;
    border: 0;
    padding: 10px 0;
    font-weight: bold;
    width: 80px;
    height: 40px;
    text-align: center;   
}

p{
    padding: 7px 0px;
    text-align: start;
    font-size: 15px;
    font-weight: 800;
    margin-left: 70px;
}

.input-row{
    display: flex;
    flex: 1;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 70px;
}
.input-group{

margin-right: 10px;

}

label{
    display: block;
   margin-top: 20px;
   margin-bottom:5px ;
   font-size: 12px;   
}

.web{
    margin-left: 70px;
}
.call{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: #f1f7f8;
   margin: auto;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


